* {
  margin: 0;
  padding: 0;
}

.container {
  min-width: 350px;
  width: 70%;
  margin: 0 18% 0 12%;
}

img {
  display: block;
  width: 200px;
  margin: 80px auto 30px auto;
}

.part {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(231, 231, 231);
  padding: 40px;
  margin-bottom: 20px;
}

header input {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 3px;
  margin: 20px 0;
  font-size: 20px;
  color: grey;
  outline-color: rgb(177, 204, 235);
  shape-outside: -2px;
  padding: 20px;
  width: 90%;
}
